<beans>
    <bean id="paymentService" class="com.kopylov.ioc.entity.PaymentService">
        <property name="mailService" ref="mailService"/>
        <property name="paymentType" value="visa"/>
    </bean>
    <bean id="userService" class="com.kopylov.ioc.entity.UserService">
        <property name="mailService" ref="mailService"/>
        <property name="user" value="Vadym"/>
    </bean>
</beans>